/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #4586c9; /* Adjust the color and thickness as needed */
  height: 5rem;
  padding: 03.8rem;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's on top of other content */
}

.logo {
  height: 5.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.mainNavList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.mainNavLink {
  list-style: none;
  display: flex;
  align-items: center;
}

.mainNavLink:link,
.mainNavLink:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 1.3rem 1rem;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.mainNavLink:hover,
.mainNavLink:active {
  color: #fff;
  background-color: #4586c9;
  padding: 4.2rem 1rem;
  border-radius: 7px;
  font-weight: 500;
}

.mainNavLink.navCta:link,
.mainNavLink.navCta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #1a73d1;
}

.mainNavLink.navCta:hover,
.mainNavLink.navCta:active {
  background-color: #1768bc;
}

.header_image_sso {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.siteName {
  color: #1a73d1;
}
