.sectionHow {
  padding: 5.6rem 0;
  background-color: #fff;
  /* background-color: #e8f1fa; */
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid_2_cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

.works_img {
  width: 100%;
}

.headingSecondary {
  font-size: 3.5rem;
  line-height: 1;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 4.2rem;
  text-align: center;
}

/*
rem and em do not depend on HTML Font Size in Media Queries insteand 1rem = 1em = 16px
84 em here is 84*16 = 1344px
BELOW 1344 Px Smaller Desktops
*/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .grid_2_cols {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid_2_cols {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid_2_cols {
    grid-template-columns: 1fr;
  }
}
