.sectionDocuments {
  padding: 5.6rem 0;
  background-color: #e8f1fa;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.headingSecondary {
  font-size: 3.5rem;
  line-height: 1;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 4.2rem;
  text-align: center;
}

/*
rem and em do not depend on HTML Font Size in Media Queries insteand 1rem = 1em = 16px
84 em here is 84*16 = 1344px
BELOW 1344 Px Smaller Desktops
*/
@media (max-width: 84em) {
  .sectionDocuments {
    padding: 5rem 0;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .sectionDocuments {
    padding: 5rem 0;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .sectionDocuments {
    padding: 5rem 0;
  }

  .headingSecondary {
    font-weight: 600;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .sectionDocuments {
    padding: 4.8rem 0;
  }

  .headingSecondary {
    color: #333;
    font-weight: 500;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .sectionDocuments {
    padding: 4.5rem 0;
  }

  .headingSecondary {
    font-weight: 500;
  }
}
