/**************************/
/* FOOTER */
/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 2.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.footer {
  padding: 2.8rem 0;
  border-top: 1px solid #eee;
  background-color: #e8f1fa;
}

.gridFooter {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/* .logoCol {
  display: flex;
  flex-direction: column;
} */

.footerLogo {
  display: block;
  /* margin-bottom: 3.2rem; */
}

.logo {
  height: 7.5rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footerHeading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footerLink:link,
.footerLink:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footerLink:hover,
.footerLink:active {
  color: #555;
}

/*
rem and em do not depend on HTML Font Size in Media Queries insteand 1rem = 1em = 16px
84 em here is 84*16 = 1344px
BELOW 1344 Px Smaller Desktops
*/
@media (max-width: 84em) {
  .gridFooter {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .gridFooter {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .gridFooter {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .gridFooter {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .gridFooter {
    grid-template-columns: 1fr;
  }
}
